:root {
    color-scheme: light dark;
}
.first-row {
    background-color: light-dark(hwb(0 39% 28%), hwb(0 38% 38%)) !important;
    padding: 0px !important;
    margin: 0px !important;
    align-items: center !important;
}
.second-row {
    background-color: light-dark(hwb(59 67% 5%), hwb(59 47% 35%)) !important;
    padding: 0px !important;
    margin: 0px !important;
    align-items: center !important;
}
.third-row {
    background-color: light-dark(hwb(84 40% 11%), hwb(84 40% 41%)) !important;
    padding: 0px !important;
    margin: 0px !important;
    align-items: center !important;
}
.fourth-row {
    background-color: light-dark(hwb(195 53% 14%), hwb(195 23% 34%)) !important;
    padding: 0px !important;
    margin: 0px !important;
    align-items: center !important;
}
.label-row {
    height: 18vh !important;
}
.option-col {
    gap: 0px !important;
}
.vertical-text {
    width: 10em !important;
    padding: 0px !important;
    margin: 0px !important;
}
.prose.vertical-text {
    text-align: center !important;
    transform: rotate(-90deg) !important;
    background-color: black !important;
}
.prose.vertical-text p {
    color: lightgray !important;
}